*{

}

#header {
    background-color: aliceblue;
}

#header ul {
    display: inline-block;
  }

#header ul > li {
    display: inline-block;
    /* margin: 0.5em; */
} 

#top-bar-container {

}

#quick-menu {

}

#menu-button {
    
}
body{
    background-image: url("https://www.prior.no/assets/images/_1000x1000_crop_center-center_none/Pizza-med-kylling-tomat-ruccola.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
#test1{
<<<<<<< Updated upstream
    background-color: rgb(255, 254, 253, 0.7);
=======
    background-color: rgba(214, 212, 208, 0.7);
>>>>>>> Stashed changes
}