#header {
    background-color: aliceblue;
}

#header ul {
    display: inline-block;
  }

#header ul > li {
    display: inline-block;
    /* margin: 0.5em; */
} 

#top-bar-container {

}

#quick-menu {

}

#menu-button {
    
}
body{
<<<<<<< HEAD
    background-color:;
=======
    background-color: white;
>>>>>>> 24e5e2c72ab96dbe36d46635cfc59798b7c0b8cf
}