* {
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}

body {

}

p {
    color: white;
}

p a {
    color: aqua;
}

p span {
    color:lightpink;
}

li {
    color: white;
}

a {
    color: darkblue;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    /* background-color: green; */
    color: rgb(255, 255, 255);
    font-size: 4rem;

    padding: 4rem;
}

h2 {
    color: white;
    font-size: 1.8rem;

    padding-top: 3rem;
}

h3 {
    color: white;
    font-size: 1.3rem;
    font-style:italic;
    padding: 1.5rem 0 0 0;
}

h4 {
    color: white;
    font-size: 1.1rem;
    padding: 1.5rem 0 0 0;
}

figcaption {
    color: white;
    font-size: 0.8rem;
}

figcaption a {
    color: aqua;
    font-size: 0.8rem;
}

figure {

}

figure img {
    width: 100%;
    height: auto;
    padding: 1rem 0 0.5rem 0;
}

img {

}

aside {
    margin-top: 3.5rem;

    /* background-color: green; */
}

aside p {
    padding-bottom: 1.75rem;
}

footer {
    padding-top: 2rem;
}

section {
    padding-top: 2rem;
}

section:nth-of-type(1) {
    padding-top: 0rem;
}


.content {

    background-image: url("/media/priscilla-du-preez-XkKCui44iM0-unsplash-1920.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed; 

    height: 100%;

}

/* .fun {
    background-clip: url("/media/Laptop-1920.mp4");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed; 
} */

main {
    display: flex;
    flex-direction: column;
}

.alpha{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

nav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 1.5rem;

    font-weight: bold;
}

nav > p {
    color: black;
}

.nav-links li {
    display: inline-block;

    padding: 0 0;

    color: darkblue;
}

.nav-only li {
    /* margin-left: 24px; */
    margin-left: 1.5rem;
}

.nav-links li a {
    text-decoration: none;
    padding: 8px 0;
    position: relative;
    cursor: pointer;
}

.nav-links li a::after{
    content: '';
    background: #ff3d00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after{
    width: 100%;
}

article p {
    margin: 0.5rem 0;
    line-height: 1.5;
}

article button {
    padding: 1.5rem;
    color: darkblue;
    font-weight: bold;
}

article:first-child h2:first-child {
    padding-top: 0.5rem;
}


article figcaption {
    padding-bottom: 1rem;
}

.textbox {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem 2rem 1rem 2rem;
    max-width: 70ch;

    align-self: center; /* Worked... */
}

.white-background {

}

.white-background li {
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem;
    /* margin: 1rem; */
    margin-right: 16px;
    margin-bottom: 1rem;
    font-weight: bold;

    /* background-color: green; */

}

.skip-link {
    background: black;
    color: #fff;
    font-weight: 700;
    /* left: 50%; */
    padding: 1rem;
    position: absolute;
    transform: translateY(-100%);
    z-index: 100;
  }
  
.skip-link:focus {
    transform: translateY(0%);
    transition: transform 0.3s;
  }

/* ONLY FOR THE FUN PAGE: START */

/* video { 
    display: block;
    margin: 0 auto; 
} */

video {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }

.fun {
    background-color: black;
}

/* .video-container video {
    display: flex;
    align-content:center;
    justify-content: center;
} */

.video-container:hover {

}

.fun-return {
    position: fixed;
    top: 0;
    z-index: 100;
}

.overlay-title {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;

    z-index: 0;
}

.overlay-title h1 {
    color: black;
}

#mobile-menuicon {
    display: none;
}

#mobile-header {
    display: none;
}


/* ONLY FOR THE FUN PAGE: END */



/* .content-separator-image {
    padding-top: 2rem;
} */

/* Phones */ 
@media only screen and (max-width : 600px) {

    *{
        font-size: 1rem;
    }
    
    nav{

        display: block;
        padding: 0;
    
    }
    
    #mobile-header{
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .nav-only{
        display: none;
        position: absolute;
        width: 100%;
    }
    .nav-links li{
        display: block;
        padding: 10px;
        width: 100%;
        background-color: rgb(168, 168, 168);
        
    }
    
    .nav-only li {
        margin-left: 0;
        border-bottom: 1px solid black;
    }
    
    .mobile-nav-on {
        display: block;
        position: absolute;
        width: 100%;
        animation: fadeIn 1s;

    }
    .mobile-nav-off {
        display: block;
        position: absolute;
        width: 100%;
        animation: fadeOut 1s forwards;

    }

    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }

    @keyframes fadeOut {
        0% {opacity: 1;}
        100% {opacity: 0;}
    }
    
    #mobile-menuicon{
        display: block;
        position: absolute;
        width: 70px;
        height: auto;
        right: 5px;
        top: 10px;
        cursor: pointer;
        
    }

    #mobile-header {
        display: block;
    }
    
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.5rem;
    }
    

}

/* Tablets */
@media only screen and (min-width : 601px) 
and (max-width: 1280px) {

    *{
        font-size: 1.2rem;
    }
    
    nav{

        display: block;
        padding: 0;
    
    }
    
    #mobile-header{
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .nav-only{
        display: none;
        position: absolute;
        width: 100%;
    }
    .nav-links li{
        display: block;
        padding: 10px;
        width: 100%;
        background-color: rgb(168, 168, 168);
        
    }
    
    .nav-only li {
        margin-left: 0;
        border-bottom: 1px solid black;
    }
    
    .mobile-nav-on {
        display: block;
        position: absolute;
        width: 100%;
        animation: fadeIn 1s;

    }
    .mobile-nav-off {
        display: block;
        position: absolute;
        width: 100%;
        animation: fadeOut 1s forwards;

    }

    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }

    @keyframes fadeOut {
        0% {opacity: 1;}
        100% {opacity: 0;}
    }
    
    
    #mobile-menuicon{
        display: block;
        position: absolute;
        width: 70px;
        height: auto;
        right: 5px;
        top: 10px;
        cursor: pointer;
        
    }

    #mobile-header {
        display: block;
    }
    
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1.5rem;
    }

}

/* Desktop */
@media only screen and (min-width : 1281px) {

    body {


    }

    .content {

        margin: 0 15vh;
   
    }

}
