/* 
GENERAL STYLES: START
 */

* {
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}

body {}

p {
    color: white;
}

p a {
    color: aqua;
}

#readMore a{
    color: aqua;
}

p span {
    color: rgb(201, 142, 109);
}

li {
    color: white;
}

a {
    color: darkblue;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 4rem;

    padding: 4rem;
}

h2 {
    color: white;
    font-size: 1.8rem;

    padding-top: 3rem;
}

h3 {
    color: white;
    font-size: 1.3rem;
    padding: 1.5rem 0 0 0;
}

h4 {
    color: white;
    font-size: 1.1rem;
    padding: 1.5rem 0 0 0;
}

figcaption {
    color: white;
    font-size: 0.8rem;
}

figcaption a {
    color: aqua;
    font-size: 0.8rem;
}

figure img {
    width: 100%;
    height: auto;
    padding: 1rem 0 0.5rem 0;
}

img {
 color: white;
}

aside {
    margin-top: 3.5rem;
}

aside p {
    padding-bottom: 1.75rem;
}

footer {
    padding-top: 2rem;
}

header button {
    color: darkblue;
    font-weight: bold;
}

.content {
    background-image: url("/media/background-priscilla-du-preez-unsplash-1920.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed; 

    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

.alpha{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 1.5rem;

    font-weight: bold;
}

header p {
    color: black;
}

.nav-links li {
    display: inline-block;

    padding: 0 0;

    color: darkblue;
}

.nav-only li {
    margin-left: 1.5rem;
}

.nav-links li a {
    text-decoration: none;
    padding: 8px 0;
    position: relative;
    cursor: pointer;
}

.nav-links li a::after{
    content: '';
    background: #ff3d00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after{
    width: 100%;
}

.secondary-nav-container {
    margin-top: 3.5rem;
}

.secondary-nav-container p {
    padding-bottom: 1.75rem;
}

article p {
    margin: 0.5rem 0;
    line-height: 1.5;
}

article:first-child h2:first-child {
    padding-top: 0.5rem;
}

article figcaption {
    padding-bottom: 1rem;
}

.textbox {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2rem 2rem 1rem 2rem;
    max-width: 70ch;

    align-self: center;
}

.link-button {
    background-color: white;
    color: darkblue;
    font-weight: bold;

    width: 100%;
    padding: 1rem;
    text-align: center;
    text-decoration: none;

    margin-bottom: 2rem;

    border-radius: 5px;
}

.link-button {
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.link-button::after{
    content: '';
    background: rgba(0, 140, 255, 0.2);
    width: 0;
    /* height: 2px; */
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0s;
}

.link-button:hover::after{
    width: 100%;
}

.white-background {}

.white-background li {
    background-color: rgba(255, 255, 255, 1);
    margin-right: 16px;
    margin-bottom: 1rem;
    font-weight: bold;

    width: 40%;
    text-align: center;
}

.white-background li a {
    display: block;
    padding: 1rem;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
}

.skip-link {
    background: black;
    color: #fff;
    font-weight: 700;
    /* left: 50%; */
    padding: 1rem;
    position: absolute;
    transform: translateY(-100%);
    z-index: 100;
  }
  
.skip-link:focus {
    transform: translateY(0%);
    transition: transform 0.3s;
  }

  #mobile-menubutton {
      display: none;
  }

/* 
GENERAL STYLES: END
 */

/*
MOBILE: START
*/

#mobile-header{
    display: none;
    position: fixed;
    height: 3.85rem;
    width: 100%;
    left: 0;

    z-index: 0;
    background-color:black;
}

#mobile-menubutton{
    display: none;
    position: fixed;
    right: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 8px;
    background: white;
    font-size: 1.5rem;

    padding: 0.5rem 1.25rem;

    z-index: 3;
}

#mobile-nav {
    position: fixed;
    display: none;
    width: 100%;
    left: 0;
    top: 3.5rem;
    padding: 0.5rem 0.5rem;
    z-index: 3;
}

#mobile-nav li {
    padding: 0.24rem;
    margin: 0;
    border: 2px solid black;
    border-bottom: 4px solid black;
    border-radius: 10px;

    width: 100%;
    background-color: rgb(233, 233, 233);
}

#mobile-nav li a {
    font-size: 1.5rem;
    padding: 0.25rem;

    display: block;

    width: 100%;
    height: 100%;
}

#mobile-nav li a::after {
    background:#ff3d00;
    transition: width 0s;
    height:2px;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
} 

/*
MOBILE: END
*/

/* 
Standard Media Queries: Start
*/

/* Phones */ 
@media only screen and (max-width : 600px) {

    * {
        font-size: 1rem;
    }

    header {
        justify-content: center;

        padding: 0.5rem 0.5rem;
    }

    header p {
        display: none;
    }

    .nav-only li {
        padding: 0.5rem 0;
    }

    h1 {
        font-size: 3rem;
        padding-left: 2rem;
    }

}

/* Tablets */
@media only screen and (min-width : 600px) 
and (max-width: 960px) {

    header {
        justify-content: center;

        padding: 0.5rem 0.5rem;
    }

    .nav-only li {
        padding: 0.5rem 0;
    }

    header p {
        display: none;
    }

}

/* Desktop */
@media only screen and (min-width : 960px)
and (max-width: 1420px) {

}

/* Desktop Fullscreen */
@media only screen and (min-width: 1420px) {

}

/*
Standard Media Queries: End 
*/

/* 
SPECIAL QUERY - Mobile Menu: Start 
*/

/* For Phones and Tablets */
@media only screen and (max-width: 960px) {

    #mobile-menubutton{
        display: block;
    }

    #desktop-nav{
        display: none;
    }

    #mobile-header{
        display: block;  
    }

    header {
        padding: 0;
    }

    h1 {
        margin-top: 4rem;
    }

}

/* 
SPECIAL QUERY - Mobile Menu: End
*/
